<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Documento</th>
            <th scope="col">Teléfono</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <th scope="row">{{customer.customerId}}</th>
            <td>{{customer.customerName}}</td>
            <td>{{customer.customerLastName}}</td>
            <td>{{customer.documentNumber}}</td>
            <td>{{customer.phoneNumber}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-danger" (click)="deleteCustomer(customer.customerId)">Borrar</button>
                    <button type="button" class="btn btn-outline-primary" (click)="updateCustomer(customer.customerId)">Actualizar</button>
                    <a type="button" class="btn btn-outline-success" [routerLink]="['/sales', customer.customerId]">Vender</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<br><br>
<a class="btn btn-primary btn-large" [routerLink]="['/product']">Administrar Productos</a>
