<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Valor</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sale of sales">
            <th scope="row">{{sale.saleId}}</th>
            <td>{{sale.productName}}</td>
            <td>{{sale.productValue}}</td>
            <td>{{sale.quantity}}</td>
            <td>{{sale.quantity * sale.productValue}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-danger" (click)="deleteSale(sale.saleId)">Borrar</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<br><br>
<a class="btn btn-primary btn-large" [routerLink]="['/customer']">Administrar Clientes</a>
<a class="btn btn-success btn-large" [routerLink]="['/product']">Administrar Productos</a>
