<form [formGroup]="validationsForm" (ngSubmit)="saveProduct(validationsForm.value)" class="example-form">
    <div class="row">
        <div class="col-4">
            <label for="exampleFormControlInput1" class="form-label">Nombre Producto</label>
            <input formControlName="productName" type="text" class="form-control" value="{{product.productName}}" placeholder="Nombre Producto">
        </div>
        <div class="col-4">
            <label for="exampleFormControlInput1" class="form-label">Valor</label>
            <input formControlName="productValue" type="text" class="form-control" value="{{product.productValue}}" placeholder="Valor">
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary btn-large">Guardar</button>
        </div>
    </div>
</form>

<br>
<br>
<app-product-list (newItemEvent)="getProductById($event)"></app-product-list>