<h1>{{customer.customerName}} {{customer.customerLastName}}</h1>

<form [formGroup]="validationsForm" (ngSubmit)="saveSale(validationsForm.value)" class="example-form">
    <div class="row">
        <div class="col-5">
            <label for="exampleFormControlInput1" class="form-label">Producto</label>
            <select formControlName="productId" class="form-select" aria-label="Seleccione producto">
              <option *ngFor="let product of products" [value]="product.productId">{{product.productName}}</option>
            </select>
        </div>
        <div class="col-5">
            <label for="exampleFormControlInput1" class="form-label">Cantidad</label>
            <input formControlName="quantity" type="text" class="form-control" placeholder="Cantidad">
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary btn-large">Guardar</button>
        </div>
    </div>
</form>

<br>
<br>
<app-sale-list [customerId]="customerId"></app-sale-list>
