<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Producto</th>
            <th scope="col">Valor</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <th scope="row">{{product.productId}}</th>
            <td>{{product.productName}}</td>
            <td>{{product.productValue}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-danger" (click)="deleteProduct(product.productId)">Borrar</button>
                    <button type="button" class="btn btn-outline-primary" (click)="updateProduct(product.productId)">Actualizar</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<br><br>
<a class="btn btn-primary btn-large" [routerLink]="['/customer']">Administrar Clientes</a>