<form [formGroup]="validationsForm" (ngSubmit)="saveCustomer(validationsForm.value)" class="example-form">
    <div class="row">
        <div class="col-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre Cliente</label>
            <input formControlName="customerName" type="text" class="form-control" value="{{customer.customerName}}" placeholder="Nombre Cliente">
        </div>
        <div class="col-3">
            <label for="exampleFormControlInput1" class="form-label">Apellido Cliente</label>
            <input formControlName="customerLastName" type="text" class="form-control" value="{{customer.customerLastName}}" placeholder="Apellido Cliente">
        </div>
        <div class="col-3">
            <label for="exampleFormControlInput1" class="form-label">Numero Documento</label>
            <input formControlName="documentNumber" type="text" class="form-control" value="{{customer.documentNumber}}" placeholder="Numero Documento">
        </div>
        <div class="col-3">
            <label for="exampleFormControlInput1" class="form-label">Numero de Teléfono</label>
            <input formControlName="phoneNumber" type="text" class="form-control" value="{{customer.phoneNumber}}" placeholder="Numero de Teléfono">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-large">Guardar</button>
        </div>
    </div>
</form>

<br>
<br>
<app-component-list (newItemEvent)="getCustomerById($event)"></app-component-list>